name: CI

on:
  release:
    types: [created]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.1
    - name: Install hatch
      run: pip install --upgrade hatch
    - name: Set version from tag
      run: hatch version $GITHUB_REF_NAME
    - uses: PyO3/maturin-action@v1
      with:
        before-script-linux: yum install -y openssl-devel
        manylinux: auto
        command: build
        args: --release --sdist -o dist --find-interpreter -F rustls
    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: wheels
        path: dist

  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4.1.1
    - name: Install hatch
      run: pip3 install --upgrade hatch hatchling
    - name: Set version from tag
      run: hatch version ${{ github.ref_name }}
    - uses: PyO3/maturin-action@v1
      with:
        command: build
        args: --release -o dist --find-interpreter -F rustls
    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: wheels
        path: dist

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4.1.1
    - name: Set up Python
      uses: actions/setup-python@v5.0.0
      with:
        python-version: '3.x'
    - name: Install hatch
      run: pip3 install --upgrade hatch
    - name: Set version from tag
      run: hatch version $GITHUB_REF_NAME
    - uses: PyO3/maturin-action@v1
      with:
        command: build
        args: --release -o dist --universal2 --find-interpreter -F rustls
    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: wheels
        path: dist

  release:
    name: Release
    runs-on: ubuntu-latest
    environment:
      name: PyPI
      url: https://pypi.org/project/redis-rs/${{ github.ref_name }}
    needs: [ macos, windows, linux ]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: wheels
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --skip-existing *
