name: Lint

on:
  push:
    branches:
      - 'main'
    tags: [ '*' ]
  pull_request:
    branches:
      - 'main'

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: cargo fmt
        run: cargo fmt --all -- --check
  py:
    name: Python linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: pip install ruff mypy
      - name: Ruff check lint
        run: ruff redis_rs tests
      - name: Ruff check format
        run: ruff format --check redis_rs tests
      - name: Run mypy
        run: mypy redis_rs tests
