name: Tests

on:
  push:
    branches:
      - 'main'
    tags: [ '*' ]
  pull_request:
    branches:
      - 'main'

jobs:
  tests:
    name: Rust test
    strategy:
      max-parallel: 3
      matrix:
        os:
          - ubuntu-22.04
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: cargo test
        run: cargo test -F rustls

  pytest:
    name: pytest on redis
    runs-on: ubuntu-22.04
    strategy:
      max-parallel: 2
      matrix:
        redis-version:
          - '6'
          - '7'
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Install dependencies
        run: pip install -U hatch
      - name: Start Redis
        uses: supercharge/redis-github-action@1.8.0
        with:
          redis-version: ${{ matrix.redis-version }}
      - name: Build develop
        run: hatch run maturin develop -F rustls
      - name: Run pytest
        run: hatch run pytest
